*::before, *::after {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
}


body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(to right, black, white, black) ; */
    background: rgb(224, 192, 174);
}

.calculator-body {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    border: 1px solid gray;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-body > button {
    cursor: pointer;
    color: white;
    font-size: 2rem;
    border: 2px solid black;
    outline: none;
    background-color: rgb(0, 0, 0,.8);
  }

  .calculator-body > button:hover {
    background-color: rgb(0, 0, 0,1);
  }

  .calculator-body > .top-info {
    background-color: rgb(128, 128, 128,.8);
  }

  .calculator-body > .top-info:hover {
    background-color: rgb(128, 128, 128,1);
  }

  .calculator-body > .operator {
    background-color: rgb(255, 165, 0, .7);
  }

  .calculator-body > .operator:hover {
    background-color: rgb(255, 165, 0, 1);
  }

  .calculator-body > .span-two {
    grid-column: span 2;
  }

.output {
  grid-column: 1 / -1;
  background-color: rgba(183, 202, 251, 0.8);
  border: 2px solid black;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
    border: 2px solid red;
    color: rgb(0, 0, 0,.8);
    font-size: 1.5rem;
}

.current-operand {
    border: 2px solid blue;
    color: black;
    font-size: 2.5rem;
}

  .footer {
    height: 72px;
    background: #eee;
    color: black;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
  }