body {
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 192, 174);
    font-family: sans-serif;
    min-height: 100vh;
  }

.calculatorBody {
    display: grid;
    justify-content: center;
    border: 1px solid gray;
}

.contentBox {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 200px;
  height: 70px;
}

.upperDisplayValueBox {
    flex: 1;
    border: 2px solid red;
}

.lowerDisplayValueBox {
    flex: 3;
    border: 2px solid blue;
}

  #clear {
    grid-area: 1 / 1 / span 1 / span 2;
  } 
  #delete {
    grid-area: 1 / 3 / span 1 / span 2;
  } 
  #zero {
    grid-area: 5 / 1 / span 1 / span 2;
  } 

  .mainBody {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    margin: 10px 0px;
    border: 1px solid rgb(58, 162, 54);
  }


  button {
    font-size: 12px;
  }


  .footer {
    height: 72px;
    background: #eee;
    color: black;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
  }