:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #container {
    display: grid;
    gap: 0px;
    max-width: 500px;
    max-height: 500px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    border: 1px solid black;
  }

#grid-size {
    margin: 10px;
}

  .grid-item {
    padding: auto;
    margin: 0px;
    border: 0.1px solid rgb(200, 200, 200);
    aspect-ratio: 1;
  }

