*,
*::after,
*::before {
    box-sizing: border-box;
}

.bookCards {
    display: flex;
    margin: 0 auto;
    height: 100vh;
    padding: 1em;
    background-color: red;
    border: 5px black;
}

.bookCard {
    display: flex;
    flex-direction: column;
    width: max-content;
    font-size: 16px;
    padding: 0;
    margin: 1em;
    background-color: lightblue;
}