body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.message-container {
  display: flex;
  flex-direction: column;
  background-color: lavender;
  width: fit-content;
  margin: 2rem;
}

.message {
  margin-bottom: 1rem;
}
