body {
  display: grid;
  grid-template-columns: 300px 1fr;
}

a {
  text-decoration: none;
}

.row {
  width: fit-content;
  background-color: aliceblue;
}

hr {
  background-color: black;
  height: 2px;
  border: none;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  padding: 0.2rem;
}

.text-success {
  color: green;
}

.text-danger {
  color: red;
}

.text-warning {
  color: rgb(169, 169, 0);
}
