*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 12px;
}

body {
  text-align: center;
}

.header {
  background-color: lightgreen;
}

.header-title {
  margin: 0;
  font-size: 1.5rem;
  padding: 1rem;
}

.searchbar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.item-card-type-landfill {
  font-weight: bold;
}
