<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <h1>New Post</h1>
    <form action="" method="POST">
      <label for="title">Title</label>
      <input name="title" placeholder="title" type="text" />
      <label for="username">Username</label>
      <input name="username" placeholder="username" type="text" />
      <label for="message">Message</label>
      <input name="message" type="text" />
      <button>Submit</button>
    </form>
  </body>
</html>
